{%- assign categories = include.categories -%}
{%- assign names = include.names -%}
{%- assign baseUrl = include.baseUrl -%}
{%- assign limit = include.limit | default: -1 -%}

{%- unless baseUrl -%}
    {%- if page.is-gm -%}
        {%- assign baseUrl = '/gm/npcs' -%}
    {%- else -%}
        {%- assign baseUrl = '/game-content/npcs' -%}
    {%- endif -%}
{%- endunless -%}

{%- unless names -%}
    {%- if page.is-gm -%}
        {%- assign names = site.gm-npcs | map: "title" -%}
    {%- else -%}
        {%- assign names = site.npcs | map: "title" -%}
    {%- endif -%}
{%- endunless -%}

{%- unless categories -%}
    {%- capture categories -%}
    {%- for name in names -%}
        {%- assign data = site.data.npcs[name] -%}
        {%- if data.folder -%}
            {{ data.folder }},
        {%- endif -%}
        {%- if data.clan -%}
            {{ data.clan }},
            {%- if data.corp -%}
                {{ data.clan }}/{{ data.corp }},
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- endcapture -%}
    {%- assign categories = categories | split: ',' | uniq | sort -%}
{%- endunless -%}

<section class="card-board">

{%- comment -%} List categories > npcs {%- endcomment -%}
{%- for category in categories -%}
    
    <div class="card-board-row">
        <h2 id="{{ category | slugify }}">{{ category }}</h2>
        {%- assign currentNpc = 0 -%}
        {%- for name in names -%}
            {%- assign data = site.data.npcs[name] -%}
            {%- assign shouldBeDisplayed = false -%}
            {%- if data.folder and data.folder == category -%}
                {%- assign shouldBeDisplayed = true -%}
            {%- endif -%}
            {%- if data.clan and data.clan == category -%}
                {%- assign shouldBeDisplayed = true -%}
            {%- endif -%}
            {%- assign currentClanCorp = data.clan | append: "/" | append: data.corp -%}
            {%- if data.clan and data.corp and currentClanCorp == category -%}
                {%- assign shouldBeDisplayed = true -%}
            {%- endif -%}
            {%- if shouldBeDisplayed -%}
                {%- assign currentNpc = currentNpc | plus: 1 -%}
                <div class="card-3">
                {%- include npc-card.html npc=data name=name -%}
                </div>
            {%- endif -%}
            {%- if limit > -1 and currentNpc >= limit -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endfor -%}

</section>
