{%- assign text = include.content -%}
{%- assign defaultCssPrefix = "genesys" -%}
{%- if include.css-prefix -%}
    {%- assign defaultCssPrefix = include.css-prefix -%}
{%- endif -%}
{%- for symbol in site.data.symbols -%}
    {%- capture htmlValue -%}
    {%- if symbol.type -%}
        {%- if symbol.isForce -%}
            {%- assign cssPrefix = "eote" -%}
        {%- else -%}
            {%- assign cssPrefix = defaultCssPrefix -%}
        {%- endif -%}
        <span title="{{ symbol.description }}" class="{{ cssPrefix }}-symbol {{ cssPrefix }}-symbol-{{ symbol.type }}"></span>
    {%- elsif symbol.dest -%}
        {{ symbol.dest }}
    {%- endif -%}
    {%- endcapture -%}
    {%- assign text = text | markdownify | replace: symbol.source, htmlValue -%}
{%- endfor -%}
{{ text }}