@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: '';
    }
}

@mixin genesys-heading() {
    letter-spacing: 0.6px;
    //font-family: "Bebas Neue";
    color: #1abeef;
    font-variant: small-caps;
    font-weight: 300;
}

@mixin npcs-vehicles-content() {
    .content {
        @include clearfix();
        img {
            // max-width: 500px;
            // max-height: 500px;
            float: right;
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }
}

@mixin npcs-vehicles-item-footer() {
    footer {
        clear: right;
        text-align: center;
        margin-top: 1em;
        a {
            display: block;
            font-weight: normal;
        }
    }
}

@mixin npcs-vehicles-details-base() {
    & > header h2 {
        margin-top: 0;
    }
    .content {
        clear: right;
    }
    footer {
        text-align: right;
        font-size: 0.75em;
        font-style: italic;

        & > .original-source {
            font-style: normal;
        }
    }

    & > section {
        margin: 1.5em 0;
        width: 100%;

        & > header {
            // font-size: 1.25rem;
            // margin-bottom: 0;
            // margin-top: .5rem;
            @include genesys-heading();
            text-align: right;
            text-transform: uppercase;
            border-bottom: 1px solid #1abeef;
            margin-bottom: 1em;
            clear: both;
        }
    }
    .attributes-row,
    .characteristics-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -15px;
        margin-left: -15px;
    }

    .imageBox {
        position: relative;
        text-align: center;
        color: black;
        padding: 0;
        margin: 0.15rem;
        width: 100px;
    }

    .png {
        width: 100%;
    }

    .attribute {
        width: 140px;
    }

    .attributeTitle {
        position: absolute;
        color: white;
        font-size: 12px;
        top: 17%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        white-space: nowrap;
    }

    .attributeValue {
        position: absolute;
        font-size: 20px;
        font-weight: 600;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex: unset;
    }

    .characteristicTitle {
        position: absolute;
        font-size: 17px;
        color: white;
        font-weight: 600;
        top: 84%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: capitalize;
        white-space: nowrap;
    }

    .characteristicValue {
        position: absolute;
        font-size: 40px;
        font-weight: 600;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex: unset;
    }
}

@mixin two-column-container() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}

@mixin three-column-item($box-margin: 0.5%, $bg-color: #252a34) {
    flex-basis: 1/3 * 100 - $box-margin * 3;
    @include n-column-item($box-margin, $bg-color);
}
@mixin two-column-item($box-margin: 0.5%, $bg-color: #252a34) {
    flex-basis: 50% - $box-margin * 2;
    @include n-column-item($box-margin, $bg-color);
}
@mixin one-column-item($box-margin: 0.5%, $bg-color: #252a34) {
    flex-basis: 100% - $box-margin * 2;
    @include n-column-item($box-margin, $bg-color);
}

@mixin n-column-item($box-margin: 0.5%, $bg-color: #252a34) {
    border: 1px solid darken($bg-color, 2%);
    border-radius: 5px;
    padding: 0 25px 10px;
    margin: $box-margin;
    background-color: darken($bg-color, 1%);

    &:hover {
        border-color: darken($bg-color, 5%);
        background-color: darken($bg-color, 2.5%);
    }

    transition: background-color 0.5s, border-color 1s;
}
