@import '_mixins';

.adventures {
    & > footer {
        .btn:not(:first-child) {
            margin-left: 5px;
        }
    }

    .related-npcs,
    .related-vehicles {
        @include two-column-container();

        & > header {
            width: 100%;
        }

        .related-vehicle {
            @include two-column-item();

            & > strong {
                a {
                    small {
                        display: block;
                    }
                }
            }
        }
    }

    .related-npcs {
        .npc-card {
            @include two-column-basis();
        }
    }
}
