@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
@import "_mixins";

@font-face {
    font-family: "genesys";
    src: url("../fonts/genesys.eot?n3ksai");
    src: url("../fonts/genesys.eot?n3ksai#iefix") format("embedded-opentype"),
        url("../fonts/genesys.ttf?n3ksai") format("truetype"),
        url("../fonts/genesys.woff?n3ksai") format("woff"),
        url("../fonts/genesys.svg?n3ksai#genesys") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EotESymbol";
    src: url("../fonts/EotESymbol-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/EotESymbol-Regular.otf") format("opentype"),
        url("../fonts/EotESymbol-Regular.woff") format("woff"),
        url("../fonts/EotESymbol-Regular.ttf") format("truetype"),
        url("../fonts/EotESymbol-Regular.svg#EotESymbol-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.genesys-theme {
    .page__content {
        font-family: "Crimson Text", serif;

        & > h2:first-of-type {
            margin-top: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include genesys-heading();
        }

        .sidebar__right h4.nav__title {
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
                "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
        }

        .talent {
            header {
                p {
                    margin: 0;
                }
            }
            footer {
                text-align: right;
                font-size: 0.75em;

                p {
                    margin: 0;
                }
            }
        }
    }
}

$genesys-symbol-icons: (
    boost: "",
    ability: "",
    proficiency: "",
    setback: "",
    difficulty: "",
    challenge: "",
    advantage: "",
    success: "",
    triumph: "",
    threat: "",
    failure: "",
    despair: ""
);
$eote-symbol-icons: (
    boost: "b",
    ability: "c",
    proficiency: "d",
    setback: "b",
    difficulty: "c",
    challenge: "d",
    advantage: "a",
    success: "s",
    triumph: "x",
    threat: "t",
    failure: "f",
    despair: "y"
);
$genesys-symbol-colors: (
    boost: rgb(114, 205, 220),
    ability: rgb(65, 173, 73),
    proficiency: rgb(255, 232, 0),
    setback: rgb(0, 0, 0),
    difficulty: rgb(108, 42, 132),
    challenge: rgb(125, 24, 33)
);

.genesys-symbol {
    font-family: "genesys";

    @each $name, $value in $genesys-symbol-icons {
        &.genesys-symbol-#{$name} {
            &:before {
                content: $value;
            }
            @if map-has-key($genesys-symbol-colors, $name) {
                color: map-get($genesys-symbol-colors, $name);
            }
        }
    }
}

.eote-symbol {
    font-family: "EotESymbol";

    @each $name, $value in $eote-symbol-icons {
        &.eote-symbol-#{$name} {
            &:before {
                content: $value;
            }
            @if map-has-key($genesys-symbol-colors, $name) {
                color: map-get($genesys-symbol-colors, $name);
            }
        }
    }
}

table.table-symbols,
table.table-dices {
    th:nth-child(n + 2),
    td:nth-child(n + 2) {
        text-align: center;
    }
    th,
    td {
        width: 1/3 * 100%;
    }
}
