@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");

@font-face {
    font-family: "genesys";
    src: url("../fonts/genesys.eot?n3ksai");
    src: url("../fonts/genesys.eot?n3ksai#iefix") format("embedded-opentype"),
        url("../fonts/genesys.ttf?n3ksai") format("truetype"),
        url("../fonts/genesys.woff?n3ksai") format("woff"),
        url("../fonts/genesys.svg?n3ksai#genesys") format("svg");
    font-weight: normal;
    font-style: normal;
}

.genesys-theme {
    .page__content {
        font-family: "Crimson Text", serif;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            letter-spacing: 0.6px;
            font-family: "Bebas Neue";
            color: #1abeef;
            font-variant: small-caps;
            font-weight: 300;
        }

        .sidebar__right h4.nav__title {
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
                "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
        }

        .talent {
            header {
                p {
                    margin: 0;
                }
            }
            footer {
                text-align: right;
                font-size: 0.75em;

                p {
                    margin: 0;
                }
            }
        }
    }
}

$genesys-symbol-icons: (
    boost: "",
    ability: "",
    proficiency: "",
    setback: "",
    difficulty: "",
    challenge: "",
    advantage: "",
    success: "",
    triumph: "",
    threat: "",
    failure: "",
    despair: ""
);
$genesys-symbol-colors: (
    boost: rgb(114, 205, 220),
    ability: rgb(65, 173, 73),
    proficiency: rgb(255, 232, 0),
    setback: rgb(0, 0, 0),
    difficulty: rgb(108, 42, 132),
    challenge: rgb(125, 24, 33)
);

.genesys-symbol {
    font-family: "genesys";

    @each $name, $value in $genesys-symbol-icons {
        &.genesys-symbol-#{$name} {
            &:before {
                content: $value;
            }
            @if map-has-key($genesys-symbol-colors, $name) {
                color: map-get($genesys-symbol-colors, $name);
            }
        }
    }
}
