@import '_mixins';

.masthead__inner-wrap {
    padding: 0;
}

.page__hero--overlay {
    background-position: 0 30%;
}

.clearfix {
    @include clearfix();
}

.fluid {
    #main {
        max-width: unset;
        .page {
            padding-right: 0;
        }
    }

    &.fluid-toc {
        #main {
            margin-right: 300px;
        }
    }
}

// @media (min-width: 0) {
//     #main {
//         .sidebar {
//             &.sticky {
//                 overflow-y: visible;

//                 .nav__list {
//                     overflow-y: auto;
//                     height: 100%;
//                 }
//             }
//         }
//     }
// }
