$base-bg-color: #000; //252a34
$dark-bg-color: rgba($base-bg-color, 0.3);
$bg-color: rgba(lighten($base-bg-color, 10%), 0.33);
$border-color: rgba(lighten(#252a34, 20%), 0.5);
$box-text-color: darken(#fff, 20%);
$gutter: 3px;
$border-radius: 3px;
$box-margin: 0.5%;
$card-bg-color: #252a34;

.npc-card {
    border: 1px solid darken($card-bg-color, 2%);
    border-radius: 5px;
    padding: 0 25px 10px;
    margin: $box-margin;
    background-color: darken($card-bg-color, 1%);

    &:hover {
        border-color: darken($card-bg-color, 5%);
        background-color: darken($card-bg-color, 2.5%);
    }

    transition: background-color 0.5s, border-color 1s;
    color: $box-text-color;

    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

    & > strong {
        a {
            small {
                display: block;
            }
        }
    }

    .description {
        font-size: 0.7em;
        height: 5em;
        overflow: auto;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        padding: $gutter;
        background-color: $bg-color;

        & > p:last-of-type {
            margin-bottom: 0;
        }
    }

    .npc-stats-card {
        .characteristics {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: flex-start;
            margin-top: $gutter;

            .characteristic {
                border: 1px solid $border-color;
                border-radius: $border-radius;
                width: calc(100% / 6 - 2px);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: $gutter;
                background-color: $bg-color;

                .value {
                    text-align: center;
                    line-height: 1.8em;
                    width: 2em;
                    height: 2em;
                    border: 1px solid $border-color;
                    border-radius: 2em;
                    background-color: $dark-bg-color;
                }
                .name {
                    font-size: 0.6em;
                    text-align: center;
                }
            }
        }
        .attributes {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: flex-start;
            margin-top: $gutter;

            .attribute {
                border: 1px solid $border-color;
                border-radius: $border-radius;
                width: calc(25% - 2px);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: $gutter;
                background-color: $bg-color;

                .value {
                    text-align: center;
                    line-height: 1.8em;
                    width: 2em;
                    height: 2em;
                    border: 1px solid $border-color;
                    border-radius: $border-radius;
                    order: 2;
                    width: 100%;
                    background-color: $dark-bg-color;
                }

                .name {
                    font-size: 0.6em;
                    text-align: center;
                    order: 1;
                }

                .split-value {
                    order: 2;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: stretch;
                    align-content: flex-start;
                    width: 100%;
                    // margin-top: $gutter;

                    .defence-value {
                        flex-grow: 1;
                        flex-shrink: 1;
                    }
                }
            }
        }

        .text-section {
            font-size: 0.75em;
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
            // flex-wrap: wrap;

            header {
                font-weight: bold;
                display: inline;
            }
            span {
                font-size: 0.9em;

                &:not(:last-child) {
                    &:after {
                        content: ', ';
                        white-space: pre;
                    }
                }
            }
        }
        .group-skills {
        }
        .skills {
        }
        .talents {
        }
        .abilities {
        }
        .equipment {
            span {
                &:hover {
                    border: 1px solid $box-text-color;
                    padding: 0 3px;
                }
            }
        }
        .motivations {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: flex-start;
            margin-top: $gutter;

            .personality,
            .motivation {
                border: 1px solid $border-color;
                border-radius: $border-radius;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                padding: $gutter;
                // background-color: $bg-color;
            }
            .personality {
                width: 100%;
                margin-bottom: $gutter;
                text-align: center;
            }

            .motivation {
                width: calc(25% - 2px);
                strong {
                    text-transform: uppercase;
                    display: block;
                    text-align: center;
                }
                a {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}
