@import "_mixins";

.npcs {
    .npc-list-item,
    .npc-details {
        .clan {
            float: right;
            font-style: italic;
            line-height: 2.1em;
        }
        @include npcs-vehicles-content();
    }

    .npc-list-item {
        @include npcs-vehicles-item-footer();
    }
    .npc-details {
        @include npcs-vehicles-details-base();

        & > section {
            &.locations {
                & > .location {
                    border-left: 1px solid #1abeef;
                    padding-left: 25px;
                    & > header {
                        font-size: 0.9em;
                        text-align: left;
                    }
                    & > div {
                        & > strong {
                            text-transform: capitalize;
                        }
                    }
                }
            }

            &.motivation {
                border: 1px solid #1abeef;
                clear: both;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
                border-radius: 10px;

                & > header {
                    text-align: center;
                    padding: 15px 0;
                    margin-bottom: 0;
                    width: 100%;
                    background-color: darken($color: #1abeef, $amount: 35);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    small {
                        display: block;
                        font-size: 0.6em;
                    }
                }
                & > section {
                    padding: 1em;
                    width: 50%;
                }
            }
        }

        // .skills {
        //     .skill {
        //     }
        // }

        // .talents {
        //     .talent{
        //     }
        // }

        // .abilities {
        //     .ability {
        //     }
        // }

        // .equipment-list {
        //     .equipment{
        //     }
        // }
    }

    section.npc-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .npc-category {
            flex-basis: 49%;
            ul.npc-category-items {
                list-style-type: none;
                padding-left: 0;
                // li {
                // }
            }
        }
    }

    .related-npcs {
        & > h2 {
            font-size: 1.5em;
        }
        h2 {
            margin-top: 0;
        }
    }
}
