@import "_mixins";

.npcs {
    .npc-details {
        .clan {
            float: right;
            font-style: italic;
            line-height: 2.1em;
        }
        .content {
            clear: right;

            img {
                width: 250px;
                float: right;
                margin-left: 1em;
                margin-bottom: 1em;
            }
        }

        & > section {
            margin: 1.5em 0;

            header {
                // font-size: 1.25rem;
                // margin-bottom: 0;
                // margin-top: .5rem;
                @include genesys-heading();
                text-align: right;
                text-transform: uppercase;
                border-bottom: 1px solid #1abeef;
                margin-bottom: 1em;
            }
        }

        .attributes-row,
        .characteristics-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: -15px;
            margin-left: -15px;
        }
        .imageBox {
            position: relative;
            text-align: center;
            color: black;
            padding: 0;
            margin: 0.15rem;
            width: 100px;
        }

        .png {
            width: 100%;
        }

        .attribute {
            width: 140px;
        }

        .attributeTitle {
            position: absolute;
            color: white;
            font-size: 12px;
            top: 17%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
        }

        .attributeValue {
            position: absolute;
            font-size: 20px;
            font-weight: 600;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex: unset;
        }

        .characteristicTitle {
            position: absolute;
            font-size: 17px;
            color: white;
            font-weight: 600;
            top: 84%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: capitalize;
        }

        .characteristicValue {
            position: absolute;
            font-size: 40px;
            font-weight: 600;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex: unset;
        }
    }
}
