@import '_mixins';

.talent-source-tooltip,
.genesys-symbol {
    cursor: help;
}

.talents {
    @include two-column-container();

    .talent {
        @include one-column-item();

        ul.prerequisites,
        ul.specials {
            margin: 0;
            li {
                margin: 0;
            }
        }
    }

    &.two-columns {
        .talent {
            @include two-column-item();
        }
    }

    & > h1,
    & > h2,
    & > h3 {
        flex-basis: 100%;
    }
}
