@import '_mixins';

.talent-source-tooltip,
.genesys-symbol {
    cursor: help;
}
.talents-database {
    .talents {
        @include two-column-container();

        .talent {
            @include one-column-item();

            .talent-name {
                @include genesys-heading();
                font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
            }

            ul.prerequisites,
            ul.specials {
                margin: 0;
                li {
                    margin: 0;
                }
            }
        }

        &.two-columns {
            .talent {
                @include two-column-item();
            }
        }

        &.three-columns {
            .talent {
                @include three-column-item();
            }
        }

        & > h1,
        & > h2,
        & > h3 {
            flex-basis: 100%;
        }
    }
}
