@import '_mixins';

div.vehicles {
    @include two-column-container();

    .vehicle-list-item {
        @include two-column-item();

        h2 {
            margin-top: 1em;
        }

        img {
            display: block;
            margin: auto;

            border: 2px solid #51555d;
            border-radius: 10px;
        }
    }
}

.vehicles {
    .vehicle-list-item {
        @include npcs-vehicles-item-footer();
    }

    .vehicle-details {
        .content {
            @include clearfix();
            figure {
                float: right;
                margin-left: 1em;
                margin-bottom: 1em;
                flex-direction: column;

                img {
                    width: auto;
                    margin-bottom: 0;
                }

                figcaption {
                    font-size: 0.5em;
                }
            }
        }
        @include npcs-vehicles-details-base();

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > header,
        & > .content,
        & > .weapons-list {
            width: 100%;
        }

        .info-item {
            @include two-column-item();
            padding: 0 25px;

            strong {
                text-transform: capitalize;
            }

            &.massive {
                margin-top: 1em;
            }

            &.two-lines {
                strong {
                    display: block;
                }
            }
            &.wide {
                width: 100%;
                flex-basis: 100%;
            }
        }

        .general-info {
            @include two-column-container();

            header {
                width: 100%;
            }
            // .info-item {
            //     @include two-column-item();
            //     padding: 0 25px;
            // }
        }

        .complements-info {
            .info-item {
                background-color: unset;
            }
        }

        .campaign-info {
            .flight-officer-info {
                @include clearfix();

                & > img {
                    border-radius: 4px;
                    width: auto;
                    float: right;
                }
                a.btn.btn--success {
                    float: right;
                }
            }
            .encounters {
            }
        }

        .customization {
            .hard-points {
                margin-bottom: 1em;
            }
            .modifications {
                @include two-column-container();

                .modification {
                    @include two-column-item();
                }
            }
        }

        .weapons-list {
            @include two-column-container();

            header {
                width: 100%;
                font-weight: bold;
            }

            .weapons {
                @include two-column-item();

                header {
                    display: block;
                    margin-top: 0.5em;
                }
            }
        }
    }

    h2 {
        & > small.model {
            display: block;
        }

        .header-link {
            margin-left: -30px;
            left: 0;
        }
    }
}
