@import '_mixins';

.vehicles {
    .vehicle-list-item,
    .vehicle-details {
        @include npcs-vehicles-content();
    }

    .vehicle-list-item {
        @include npcs-vehicles-item-footer();
    }

    .vehicle-details {
        @include npcs-vehicles-details-base();

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > header,
        & > .content,
        & > .weapons-list {
            width: 100%;
        }

        .info-item {
            strong {
                text-transform: capitalize;
            }
        }

        .general-info {
            width: 40%;
        }

        .campaign-info {
            .captain-info {
                @include clearfix();

                & > img {
                    border-radius: 4px;
                    width: auto;
                    float: right;
                }
                a.btn.btn--success {
                    float: right;
                }
            }
            .encounters {
            }
        }
    }

    h2 {
        & > small.model {
            display: block;
        }

        .header-link {
            margin-left: -30px;
            left: 0;
        }
    }
}
