--- 
layout: single 
title: Adventure
regenerate: true
---

{%- if page.is-gm -%}
    {%- assign baseUrl = '/gm' -%}
{%- else -%}
    {%- assign baseUrl = '/game-content' -%}
{%- endif -%}

{% assign data = site.data.adventures[page.key] %}

<section class="adventure-details">
    {%- if data and data.isVisible -%}
        <header>
            {%- if data.crawl -%}
                <a href="{{ data.crawl }}" class="btn btn--small btn--success" style="float: right;" target="_blank">
                    <i class="fas fa-play"></i>
                    &nbsp;Crawl
                </a>
            {%- endif -%}
            <h2>{{ page.title }}</h2>
        </header>
        <section class="content">
            {%- if data.description -%}
                {%- for d in data.description -%}
                    {{- d | markdownify -}}
                {%- endfor -%}
            {%- endif -%}
        </section>
        {%- if data.chapters -%}
            <section class="chapters">
                <header><h2>Chapters</h2></header>
                {%- for c in data.chapters -%}
                    {%- if c.isVisible -%}
                        <div class="info-item">
                            <h3>{{ c.name }}</h3>
                            {%- for d in c.description -%}
                                {{- d | markdownify -}}
                            {%- endfor -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </section>
        {%- endif -%}

        <section class="related-npcs">
            <header><h2>Related NPCs</h2></header>
            {%- assign npcs = site.data.npcs -%}
            {%- for npcArr in npcs-%}
                {%- assign npc = npcArr[1] -%}
                {%- assign npcName = npcArr[0] -%}
                {%- if npc.campaign_info and npc.campaign_info.encounters -%}
                    {%- assign episodeDataObj = npc.campaign_info.encounters | where: "episode", page.key -%}
                    {%- if episodeDataObj -%}
                        {%- assign episodeData = episodeDataObj[0] -%}
                        {%- if episodeData -%}
                            <div class="related-npc">
                                <strong>
                                    <a href="{{baseUrl}}/npcs/{{ npcName | slugify }}" target="_blank">
                                        {{ npc.rank }}
                                        {{ npcName }}
                                        {%- if npc.clan -%}
                                            <small>
                                                {{ npc.clan }}, {{ npc.corp }}
                                                {%- if npc.type -%}
                                                    &nbsp;({{ npc.type | upcase }})
                                                {%- endif -%}
                                            </small>
                                        {%- endif -%}
                                    </a>
                                </strong>
                                {%- if episodeData.description -%}
                                    {%- for d in episodeData.description -%}
                                        {%- assign markdownifiedDesc = d | markdownify -%}
                                        {%- include text-with-symbols.html content=markdownifiedDesc -%}
                                    {%- endfor -%}
                                {%- endif -%}
                                {%- if page.is-gm -%}
                                <section class="npc-stats-card">
                                    <section class="characteristics">
                                        <div class="characteristic">
                                            <div class="value">1</div>
                                            <div class="name">Brawn</div>
                                        </div>
                                        <div class="characteristic">
                                            <div class="value">2</div>
                                            <div class="name">Agility</div>
                                        </div>
                                        <div class="characteristic">
                                            <div class="value">3</div>
                                            <div class="name">Intellect</div>
                                        </div>
                                        <div class="characteristic">
                                            <div class="value">4</div>
                                            <div class="name">Cunning</div>
                                        </div>
                                        <div class="characteristic">
                                            <div class="value">5</div>
                                            <div class="name">Willpower</div>
                                        </div>
                                        <div class="characteristic">
                                            <div class="value">6</div>
                                            <div class="name">Presence</div>
                                        </div>
                                    </section>
                                    <section class="attributes">
                                        <div class="attribute">
                                            <div class="value">1</div>
                                            <div class="name">Soak</div>
                                        </div>
                                        <div class="attribute">
                                            <div class="value">2</div>
                                            <div class="name">Wound</div>
                                        </div>
                                        <div class="attribute">
                                            <div class="value">3</div>
                                            <div class="name">Strain</div>
                                        </div>
                                        <div class="attribute">
                                            <div class="name">Defence</div>
                                            <div class="split-value">
                                                <div class="defence-value">
                                                    <div class="value">4</div>
                                                    <div class="name">M</div>
                                                </div>
                                                <div class="defence-value">
                                                    <div class="value">5</div>
                                                    <div class="name">R</div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </section>

        <section class="related-vehicles">
            <header><h2>Related Vehicles</h2></header>
            {%- assign vehicles = site.data.vehicles -%}
            {%- for vehicleArr in vehicles-%}
                {%- assign vehicle = vehicleArr[1] -%}
                {%- assign vehicleName = vehicleArr[0] -%}
                {%- if vehicle.campaign_info and vehicle.campaign_info.encounters -%}
                    {%- assign episodeDataObj = vehicle.campaign_info.encounters | where: "episode", page.key -%}
                    {%- if episodeDataObj -%}
                        {%- assign episodeData = episodeDataObj[0] -%}
                        {%- if episodeData -%}
                            <div class="related-vehicle">
                                <strong>
                                    <a href="{{baseUrl}}/vehicles/{{ vehicleName | slugify }}" target="_blank">
                                        {{ vehicleName }}
                                        {%- if vehicle.model -%}
                                            <small>{{ vehicle.model.name }}</small>
                                        {%- endif -%}
                                    </a>
                                </strong>
                                {%- if episodeData.description -%}
                                    {%- for d in episodeData.description -%}
                                        {%- assign markdownifiedDesc = d | markdownify -%}
                                        {%- include text-with-symbols.html content=markdownifiedDesc -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </section>
    {%- else -%}
        NO DATA FOUND for {{ page.title }} (key: {{ page.key }})!
    {%- endif -%}
</section>
