--- 
layout: single 
title: Adventure
regenerate: true
---

{%- if page.is-gm -%}
    {%- assign baseUrl = '/gm' -%}
{%- else -%}
    {%- assign baseUrl = '/game-content' -%}
{%- endif -%}

{% assign data = site.data.adventures[page.key] %}

<section class="adventure-details">
    {%- if data and data.isVisible -%}
        <header>
            {%- if data.crawl -%}
                <a href="{{ data.crawl }}" class="btn btn--small btn--success" style="float: right;" target="_blank">
                    <i class="fas fa-play"></i>
                    &nbsp;Crawl
                </a>
            {%- endif -%}
            <h2>{{ page.title }}</h2>
        </header>
        <section class="content">
            {%- if data.description -%}
                {%- for d in data.description -%}
                    {{- d | markdownify -}}
                {%- endfor -%}
            {%- endif -%}
        </section>
        {%- if data.chapters -%}
            <section class="chapters">
                <header><h2>Chapters</h2></header>
                {%- for c in data.chapters -%}
                    {%- if c.isVisible -%}
                        <div class="info-item">
                            <h3>{{ c.name }}</h3>
                            {%- for d in c.description -%}
                                {{- d | markdownify -}}
                            {%- endfor -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </section>
        {%- endif -%}


        {%- if page.is-gm -%}
            {%- assign names = site.gm-npcs | map: "title" -%}
        {%- else -%}
            {%- assign names = site.npcs | map: "title" -%}
        {%- endif -%}

        {%- capture npcClans -%}
            {%- for name in names -%}
                {%- assign data = site.data.npcs[name] -%}
                {%- if data.clan -%}
                    {%- if data.campaign_info and data.campaign_info.encounters -%}
                        {%- assign episodeDataObj = data.campaign_info.encounters | where: "episode", page.key -%}
                        {%- if episodeDataObj -%}
                            {{ data.clan | downcase }},
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endcapture -%}
        {%- assign npcClans = npcClans | split: ',' | uniq | sort -%}

        {%- assign npcs = site.data.npcs | sort -%}
        {%- for npcClan in npcClans -%}
            <section class="related-npcs">
                <header><h2>Related NPCs ({{ npcClan }})</h2></header>
                {%- for npcArr in npcs -%}
                    {%- assign npc = npcArr[1] -%}
                    {%- assign npcName = npcArr[0] -%}
                    {%- assign currentNpcClan = npc.clan | downcase -%}
                    {%- if currentNpcClan == npcClan -%}
                        {%- if npc.campaign_info and npc.campaign_info.encounters -%}
                            {%- assign episodeDataObj = npc.campaign_info.encounters | where: "episode", page.key -%}
                            {%- if episodeDataObj -%}
                                {%- assign episodeData = episodeDataObj[0] -%}
                                {%- if episodeData -%}
                                    {%- include npc-card.html name=npcName additionalData=episodeData -%}
                                {%- endif -%}
                            {%- endif -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </section>
        {%- endfor -%}

        <section class="related-vehicles">
            <header><h2>Related Vehicles</h2></header>
            {%- assign vehicles = site.data.vehicles -%}
            {%- for vehicleArr in vehicles-%}
                {%- assign vehicle = vehicleArr[1] -%}
                {%- assign vehicleName = vehicleArr[0] -%}
                {%- if vehicle.campaign_info and vehicle.campaign_info.encounters -%}
                    {%- assign episodeDataObj = vehicle.campaign_info.encounters | where: "episode", page.key -%}
                    {%- if episodeDataObj -%}
                        {%- assign episodeData = episodeDataObj[0] -%}
                        {%- if episodeData -%}
                            {%- include vehicle-card.html name=vehicleName additionalData=episodeData -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        </section>
    {%- else -%}
        NO DATA FOUND for {{ page.title }} (key: {{ page.key }})!
    {%- endif -%}
</section>
