--- 
layout: single 
title: NPC
classes: wide
excerpt: "EMPTY!"
---
{% assign data = site.data.npcs[page.title] %}
<section class="npc-details">
    <header>
        {% if data %}
            <aside class="clan">{{ data.clan }}</aside>
        {% endif %}
        <h2>
            {{ page.title }}
            {% if data %}
                <small>({{ data.type }})</small>
            {% endif %}
        </h2>
    </header>
    <section class="content">
        <img src="{{ page.image_path }}" alt="{{ page.title }}" />
        {{ page.content }}
    </section>
    {% if data %}
        {% if data.attributes and page.display-attributes %}
        <section class="attributes">
            <header>attributes</header>
            <div class="attributes-row">
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/SingleAttribute.png" alt="" class="png">
                    <div class="attributeTitle row">soak</div>
                    <div class="attributeValue row">{{ data.attributes.soak }}</div>
                </div>
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/SingleAttribute.png" alt="" class="png">
                    <div class="attributeTitle row">wounds</div>
                    <div class="attributeValue row">{{ data.attributes.wounds }}</div>
                </div>
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/SingleAttribute.png" alt="" class="png">
                    <div class="attributeTitle row">strain</div>
                    <div class="attributeValue row">{{ data.attributes.strain }}</div>
                </div>
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/Defense.png" alt="" class="png">
                    <div class="attributeValue row">{{ data.attributes.defense.ranged }}  |  {{ data.attributes.defense.melee }}</div>
                </div>
            </div>
        </section>
        {% endif %}

        {% if data.characteristics and page.display-characteristics %}
        <section class="characteristics">
            <header>characteristics</header>
            <div class="characteristics-row">
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.brawn}}</div>
                    <div class="characteristicTitle row">brawn</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.agility}}</div>
                    <div class="characteristicTitle row">agility</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.intellect}}</div>
                    <div class="characteristicTitle row">intellect</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.cunning}}</div>
                    <div class="characteristicTitle row">cunning</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.willpower}}</div>
                    <div class="characteristicTitle row">willpower</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.presence}}</div>
                    <div class="characteristicTitle row">presence</div>
                </div>
            </div>
        </section>
        {% endif %}

        {% if data.minion_skills and page.display-skills %}
        <section>
            <header>skills (group only)</header>
            {{data.minion_skills}}
        </section>
        {% endif %}

        {% if data.skills and page.display-skills %}
        <section>
            <header>skills</header>
            ...
        </section>
        {% endif %}
        
        {% if data.talents and page.display-talents %}
        <section>
            <header>talents</header>
            ...
        </section>
        {% endif %}
        
        {% if data.abilities and page.display-abilities %}
        <section>
            <header>abilities</header>
            ...
        </section>
        {% endif %}
        
        {% if data.equipment and page.display-equipment %}
        <section>
            <header>equipment</header>
            <ul>
                {% for e in data.equipment %}                
                    <li>{{e}}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    {% endif %}
</section>