--- 
layout: single 
title: NPC
excerpt: "EMPTY!"
---
{% assign data = site.data.npcs[page.title] %}
<section class="npc-details">
    {% if data %}
        <header>
            <aside class="clan">{{ data.clan }}</aside>
            <h2>
                {{ page.title }}{% if data.rank %}, {{data.rank}}{% endif %}
                <small>({{ data.type }})</small>
            </h2>
        </header>
        <section class="content">
            <img src="{{ data.image_path }}" alt="{{ page.title }}" />
            {% if page.content %}
                {{ page.content }}
            {% endif %}
            {% if page.display-exerpt %}
                {%- assign markdownifiedDesc = page.exerpt | markdownify -%}
                {%- include text-with-symbols.html content=markdownifiedDesc -%}
            {% endif %}
            {% if page.display-description and data.description %}
            {% for d in data.description %}
                {%- assign markdownifiedDesc = d | markdownify -%}
                {%- include text-with-symbols.html content=markdownifiedDesc -%}
            {% endfor %}
            {% endif %}
            {%- if page.display-gm-description and data.gm-description -%}
            <h3>(GM)</h3>
            {% for d in data.gm-description %}
                {%- assign markdownifiedDesc = d | markdownify -%}
                {%- include text-with-symbols.html content=markdownifiedDesc -%}
            {% endfor %}
            {%- endif -%}
        </section>

        {% if data.locations and page.display-locations %}
        <section class="locations">
            <header>locations</header>
            {% for location in data.locations %}
            <section class="location">
                <header>{{location.name}}</header>
                {% if location.information %}
                    {% for item in location.information %}
                        <div>
                            <strong>{{item[0]}}:</strong>
                            {% if item[1].first %}
                                <ul>
                                {% for d in item[1] %}
                                    <li>{{d}}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                {{item[1]}}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if location.gm-information and page.display-gm-information %}
                    <h3>(GM)</h3>
                    {% for item in location.gm-information %}
                        <div>
                            <strong>{{item[0]}}:</strong>
                            {% if item[1].first and item[0] == "description" %}
                                {% for d in item[1] %}
                                    <p>{{d}}</p>
                                {% endfor %}
                            {% elsif item[1].first %}
                                <ul>
                                {% for d in item[1] %}
                                    <li>{{d}}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                {{item[1]}}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </section>
            {% endfor %}
        </section>
        {% endif %}

        {% if data.motivation and page.display-motivation %}
        <section class="motivation">
            <header>
                motivation
                {%- if data.personality and page.display-motivation-personality -%}
                    <small><strong>personality: </strong>{{data.personality}}</small>
                {%- endif -%}
            </header>
            {% if data.motivation.desires and page.display-motivation-desires %}
                <section class="desires">
                    <header>desires - {{ data.motivation.desires.name }}</header>
                    {{ data.motivation.desires.description }}
                </section>
            {% endif %}
            {% if data.motivation.fear and page.display-motivation-fear %}
                <section class="fear">
                    <header>fear - {{ data.motivation.fear.name }}</header>
                    {{ data.motivation.fear.description }}
                </section>
            {% endif %}
            {% if data.motivation.strength and page.display-motivation-strength %}
                <section class="strength">
                    <header>strength - {{ data.motivation.strength.name }}</header>
                    {{ data.motivation.strength.description }}
                </section>
            {% endif %}
            {% if data.motivation.flaw and page.display-motivation-flaw %}
                <section class="flaw">
                    <header>flaw - {{ data.motivation.flaw.name }}</header>
                    {{ data.motivation.flaw.description }}
                </section>
            {% endif %}
        </section>
        {% endif %}

        {% if data.characteristics and page.display-characteristics %}
        <section class="characteristics">
            <header>characteristics</header>
            <div class="characteristics-row">
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.brawn}}</div>
                    <div class="characteristicTitle row">brawn</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.agility}}</div>
                    <div class="characteristicTitle row">agility</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.intellect}}</div>
                    <div class="characteristicTitle row">intellect</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.cunning}}</div>
                    <div class="characteristicTitle row">cunning</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.willpower}}</div>
                    <div class="characteristicTitle row">willpower</div>
                </div>
                <div class="imageBox">
                    <img src="/assets/images/sheets/Characteristic.png" alt="" class="png">
                    <div class="characteristicValue row">{{data.characteristics.presence}}</div>
                    <div class="characteristicTitle row">presence</div>
                </div>
            </div>
        </section>
        {% endif %}

        {% if data.attributes and page.display-attributes %}
        <section class="attributes">
            <header>attributes</header>
            <div class="attributes-row">
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/SingleAttribute.png" alt="" class="png">
                    <div class="attributeTitle row">soak</div>
                    <div class="attributeValue row">{{ data.attributes.soak }}</div>
                </div>
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/SingleAttribute.png" alt="" class="png">
                    <div class="attributeTitle row">wounds</div>
                    <div class="attributeValue row">{{ data.attributes.wounds }}</div>
                </div>
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/SingleAttribute.png" alt="" class="png">
                    <div class="attributeTitle row">strain</div>
                    <div class="attributeValue row">{{ data.attributes.strain }}</div>
                </div>
                <div class="imageBox attribute">
                    <img src="/assets/images/sheets/Defense.png" alt="" class="png">
                    <div class="attributeValue row">{{ data.attributes.defense.ranged }}  |  {{ data.attributes.defense.melee }}</div>
                </div>
            </div>
        </section>
        {% endif %}

        {% if data.minion_skills and page.display-skills %}
        <section class="minion-skills">
            <header>skills (group only)</header>
            <p>{{data.minion_skills}}</p>
        </section>
        {% endif %}

        {% if data.skills and page.display-skills %}
        <section class="skills">
            <header>skills</header>
            {% for skill in data.skills %}
                <div class="skill">{{ skill }}</div>
            {% endfor %}
        </section>
        {% endif %}
        
        {% if data.talents and page.display-talents %}
        <section class="talents">
            <header>talents</header>
            {% for talent in data.talents %}
                <div class="talent">
                    <strong>{{ talent.name }}</strong>
                    <p>{% include text-with-symbols.html content=talent.effect markdownify=true %}</p>
                </div>
            {% endfor %}
        </section>
        {% endif %}
        
        {% if data.abilities and page.display-abilities %}
        <section class="abilities">
            <header>abilities</header>
            {% for ability in data.abilities %}
                <div class="ability">
                    <strong>{{ ability.name }}</strong>
                    <p>{% include text-with-symbols.html content=ability.effect markdownify=true %}</p>
                </div>
            {% endfor %}
        </section>
        {% endif %}
        
        {% if data.equipment and page.display-equipment %}
        <section class="equipment-list">
            <header>equipment</header>
            {% for e in data.equipment %}
                <div class="equipment">
                    {% include text-with-symbols.html content=e %}
                </div>
            {% endfor %}
        </section>
        {% endif %}

        {% if data.reference or data.initialSeed %}
        <footer>
            {% if data.reference %}
            Source: {% include talent-sources.html source=data.reference.source %}
            p.{{data.reference.page}}
            {% endif %}
            {% if data.initialSeed %}
                <small class="initial-seed">Initial Seed: {{data.initialSeed}}</small>
            {% endif %}
        </footer>
        {% endif %}
        {%- if page.display-related-npcs -%}
            {%- capture categories -%}
            {%- if data.folder -%}
                {{ data.folder }},
            {%- endif -%}
            {%- if data.clan -%}
                {{ data.clan }},
                {%- if data.corp -%}
                    {%- assign currentClanCorp = data.clan | append: "/" | append: data.corp -%}
                    {{ currentClanCorp }},
                {%- endif -%}
            {%- endif -%}
            {%- endcapture -%}
            <section class="related-npcs">
                <h2>Related NPCs</h2>
                {%- assign categories = categories | split: ',' | uniq | sort -%}
                {%- include npcs-by-categories.html categories=categories limit=3 -%}
            </section>
        {%- endif -%}
    {% else %}
        NO DATA FOUND for {{ page.title }}!
    {% endif %}
</section>