---
layout: single
title: Vehicle
excerpt: "EMPTY!"
regenerate: true
# Defaults
display-description: true
display-gm-description: true
display-exerpt: false
display-characteristics: true
display-current-thresholds: true
display-general-info: true
display-cost: true
display-weapons: true
---
{%- if page.is-ugly -%}
{%- assign data = site.data.ugly[page.title] -%}
{%- else -%}
{%- assign data = site.data.vehicles[page.title] -%}
{%- endif -%}
{%- if page.is-gm -%}
{%- assign baseUrl = '/gm' -%}
{%- else -%}
{%- assign baseUrl = '/game-content' -%}
{%- endif -%}

{%- if data.model and data.model.name -%}
{%- assign model = site.data.vehicle-models[data.model.name] -%}
{%- else -%}
{%- assign model = false -%}
{%- endif -%}

<section class="vehicle-details">
    {%- if data -%}
    <header>
        <h2>
            {{ page.title }}
            {%- if data.model and data.model.name and page.title <> data.model.name -%}
            <small class="model">{{data.model.name}}</small>
            {%- endif -%}
        </h2>
    </header>
    <section class="content">
        {%- if data.image_path -%}
        <img src="{{ data.image_path }}" alt="{{ page.title }}" />
        {%- elsif model and model.image_path -%}
        <img src="{{ model.image_path }}" alt="{{ page.title }}" />
        {%- endif -%}
        {%- if  page.content -%}
        {{ page.content }}
        {%- endif -%}
        {%- if page.display-exerpt -%}
        <p>{{ page.exerpt }}</p>
        {%- endif -%}
        {%- if model and model.description -%}
        {%- for d in model.description -%}
        {{- d | markdownify -}}
        {%- endfor -%}
        {%- endif -%}
        {%- if page.display-description and data.description -%}
        {%- for d in data.description -%}
        {{- d | markdownify -}}
        {%- endfor -%}
        {%- endif -%}
        {%- if page.display-gm-description and data.gm-description -%}
        <h3>(GM)</h3>
        {%- for d in data.gm-description -%}
        {{- d | markdownify -}}
        {%- endfor -%}
        {%- endif -%}
    </section>

    {%- if model -%}
    {%- include vehicle-stats.html stats=model overrides=data -%}
    {%- else -%}
    {%- include vehicle-stats.html stats=data -%}
    {%- endif -%}

    {%- if page.display-campaign-info and data.campaign_info -%}
    <section class="campaign-info">
        <header>Campaign Information</header>
        {%- if page.display-flight_officer and data.campaign_info.flight_officer -%}
        {%- assign flight_officer = site.data.npcs[data.campaign_info.flight_officer] -%}
        {%- if flight_officer -%}
        <div class="flight-officer-info">
            <a href="{{baseUrl}}/npcs/{{ data.campaign_info.flight_officer | slugify }}"
                class="btn btn--small btn--success" target="_blank">
                <i class="fas fa-info-circle"></i>
                &nbsp;More info about {{flight_officer.rank}} {{data.campaign_info.flight_officer}}
            </a>
            <h2>Captain Information</h2>
            <img src="{{ flight_officer.image_path }}" alt="{{ data.campaign_info.flight_officer }}" />
            <strong>{{ data.campaign_info.flight_officer }}{% if flight_officer.rank %},
                {{flight_officer.rank}}{% endif %}</strong>
            <small>({{ flight_officer.clan }}) | {{ flight_officer.type }}</small>
            {% for d in flight_officer.description %}
            {{- d | markdownify -}}
            {% endfor %}
        </div>
        {%- endif -%}
        {%- endif -%}
        {%- if page.display-encounters and data.campaign_info.encounters -%}
        <div class="encounters">
            {%- for e in data.campaign_info.encounters -%}
            <div class="encounter">
                {%- assign episode = site.data.adventures[e.episode] -%}
                {%- if episode -%}
                <a href="/game-content/adventures/{{e.episode}}" class="btn btn--small btn--success"
                    style="float: right;" target="_blank">
                    <i class="fas fa-info-circle"></i>
                    &nbsp;Adventure info
                </a>
                <h2>{{ episode.name }}</h2>
                {%- else -%}
                <h2>{{ e.episode }}</h2>
                {%- endif -%}
                {%- for d in episode.description -%}
                {{- d | markdownify -}}
                {%- endfor -%}
                {%- for d in e.description -%}
                {{- d | markdownify -}}
                {%- endfor -%}
            </div>
            {%- endfor -%}
        </div>
        {%- endif -%}
    </section>
    {%- endif -%}

    {% include reference-footer.html reference=data.reference initialSeed=data.initialSeed %}
    {% include reference-footer.html reference=model.reference %}
    {%- else -%}
    NO DATA FOUND for {{ page.title }}!
    {%- endif -%}
</section>